/* PARTE GERAL */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

body {
    position: relative;
    background-image: url("../img/background_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

button {
    background-color: #FDFDFD;
    color: #102F5E;
    border: #102F5E;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s all;
}

button:hover {
    background-color: #102F5E;
}

button:hover > i {
    color: #FFF;
}

button i {
    color: #102F5E;
    font-weight: bold;
    pointer-events: none; // PARA O ÍCONE DO BOTÃO NÃO "FICAR NA FRENTE" EM CASO DE CLIQUE NO ELEMENTO BUTTON.
}

input, select {
    padding: .25rem .5rem;
}

.hide {
    display: none;
}

/****************************
*********TODO HEADER*********
****************************/

.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #FDFDFD;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 3px 3px 10px darkslategrey;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}


/****************************
**********TODO FORM**********
****************************/

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}

#todo-form p,
#edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

#cancel-edit-btn span{
    color: #102F5E;
    font-weight: bold;
}

#cancel-edit-btn:hover span {
    color: #FFF;
}


/*****************************
*********TO DO TOOLBAR********
*****************************/

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
    display: flex;
    
}

#toobar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid #DDD;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .5rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#select-filter {
    flex: 1;
}

/********************************
***********TODO LIST*************
********************************/

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #DDD;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
}

.todo button {
    margin-left: .4rem;
}

.done {
    background-color: #395169;
    opacity: .4;
}

.done h3 {
    color: #FFF;
    text-decoration: line-through;
    font-style: italic;
}

.done-btn {
    display: none;
}






















